* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* Always is on the main axix */
  justify-content: flex-start;
  /* Always on the cross axix */
  align-items: start;
  height: 500px;
  background-color: #f4f4f4;
}

.item {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #254de4;
  color: #fff;
  float: left;
}
